#include <iostream>
using namespace std;

//Largest Palidrome Number that is a product of two 3-digit numbers.

const int Fnum=999;
const int Snum=999;

bool check(int num);

int main()
{
    int largest=10000, c, r, num=0;
    
    
    for (r=100;r<=Fnum;r++)
    {
        for(c=101;c<=Snum;c++)
        {
            num = c * r;
            if (check(num))
            { cout<<r*c<<" "; largest = r*c;}
            
        }
    }
    
    cout<<"The largest palidrome number that is a product of two 3-digit numbers is "<<largest<<endl;
}

bool check(int num)
{
    bool found = true;
    int digit, rev = 0, ognum; // ognum is original number
    ognum = num;
    
    while (num)
    {
        digit = num % 10;
        num /= 10;
        rev = rev * 10 + digit;
    }
    
    if (rev == ognum)
        found = true;
    else
        found = false;
    return found;
}
